@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root,
    :root .light-mode {
        --background-app-rgb: 255 255 255;
        --color-primary-900: 74 109 255;
        --color-primary-800: 92 124 255;
        --color-primary-700: 110 138 255;
        --color-primary-600: 128 153 255;
        --color-primary-500: 146 167 255;
        --color-primary-400: 164 182 255;
        --color-primary-300: 183 197 255;
        --color-primary-200: 201 211 255;
        --color-primary-100: 219 226 255;
        --color-primary-50: 228 233 255;
        --color-secondary-900: 17 24 39;
        --color-secondary-800: 31 41 55;
        --color-secondary-700: 55 65 81;
        --color-secondary-600: 75 85 99;
        --color-secondary-500: 107 114 128;
        --color-secondary-400: 156 163 175;
        --color-secondary-300: 209 213 219;
        --color-secondary-200: 229 231 235;
        --color-secondary-100: 243 244 246;
        --color-secondary-50: 249 250 251;
        --color-secondary-0: 255 255 255;
        --color-success: 0 192 115;
        --color-warning: 255 153 0;
        --color-error: 239 68 68;
    }

    :root .dark-mode {
        --color-secondary-900: 249 250 251;
        --color-secondary-800: 243 244 246;
        --color-secondary-700: 229 231 235;
        --color-secondary-600: 209 213 219;
        --color-secondary-500: 156 163 175;
        --color-secondary-400: 107 114 128;
        --color-secondary-300: 75 85 99;
        --color-secondary-200: 55 65 81;
        --color-secondary-100: 31 41 55;
        --color-secondary-50: 17 24 39;
        --color-secondary-0: 24 33 47;
        --backdrop-color: 0 0 0;
    }

    ::-webkit-scrollbar {
        @apply w-1.5 h-1.5;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        /* background: #f1f1f1; */
        @apply bg-secondary-50;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-secondary-400 rounded-lg;
    }

    /* reset styles */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type="number"] {
        -moz-appearance: textfield; /* Firefox */
    }

    html,
    body {
        direction: rtl;
        @apply font-vazir;
        background-color: var(--background-app-rgb);
    }
}

@layer components {
    .app-input {
        @apply outline-none border-gray-200 bg-gray-50 border text-base p-2 rounded-lg text-secondary-900 focus:border-primary-500 focus:shadow-primary-200 focus:shadow-md duration-300 ease-in-out block w-full;
    }

    .app-btn {
        @apply flex p-2 w-full justify-center items-center rounded-lg text-white bg-primary-900 hover:bg-primary-800 duration-300 shadow-lg shadow-primary-200 font-medium;
    }

    .sidebar__links {
        @apply flex text-secondary-500 items-center gap-x-2 bg-secondary-100 duration-300 hover:text-primary-900 hover:bg-primary-50 p-3 rounded-xl;
    }

    .sidebar__links--active {
        @apply text-primary-900 bg-primary-50;
    }

    .badge {
        @apply flex items-center justify-center rounded-md px-5 mx-auto py-1.5 text-xs w-16 font-medium ring-1 ring-inset;
    }

    .badge--success {
        @apply bg-green-50 text-green-700 ring-green-600/30;
    }

    .badge--error {
        @apply bg-red-50 text-red-700 ring-error/30;
    }

    .badge--gray {
        @apply bg-secondary-100 text-secondary-800 ring-1 ring-secondary-300;
    }

    .thead-row {
        @apply [&>th]:text-center [&>th]:px-2 [&>th]:pb-3 [&>th]:whitespace-nowrap;
    }

    .tbody-row {
        @apply [&:first-child>td:first-child]:rounded-tr-lg [&:first-child>td:last-child]:rounded-tl-lg [&:last-child>td:first-child]:rounded-br-lg [&:last-child>td:last-child]:rounded-bl-lg [&>td]:text-center [&>td]:py-3 [&>td]:bg-white [&>td]:px-1 [&>td]:whitespace-nowrap [&>td]:text-sm;
    }
}
