@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    &,
    &.light-mode {
      --background-app-rgb: 255 255 255;
      --color-primary-900: 74 109 255;
      --color-primary-800: 92 124 255;
      --color-primary-700: 110 138 255;
      --color-primary-600: 128 153 255;
      --color-primary-500: 146 167 255;
      --color-primary-400: 164 182 255;
      --color-primary-300: 183 197 255;
      --color-primary-200: 201 211 255;
      --color-primary-100: 219 226 255;
      --color-primary-50: 228 233 255;
      --color-secondary-900: 17 24 39;
      --color-secondary-800: 31 41 55;
      --color-secondary-700: 55 65 81;
      --color-secondary-600: 75 85 99;
      --color-secondary-500: 107 114 128;
      --color-secondary-400: 156 163 175;
      --color-secondary-300: 209 213 219;
      --color-secondary-200: 229 231 235;
      --color-secondary-100: 243 244 246;
      --color-secondary-50: 249 250 251;
      --color-secondary-0: 255 255 255;
      --color-success: 0 192 115;
      --color-warning: 255 153 0;
      --color-error: 239 68 68;
    }
    &.dark-mode {
      --color-secondary-900: 249 250 251;
      --color-secondary-800: 243 244 246;
      --color-secondary-700: 229 231 235;
      --color-secondary-600: 209 213 219;
      --color-secondary-500: 156 163 175;
      --color-secondary-400: 107 114 128;
      --color-secondary-300: 75 85 99;
      --color-secondary-200: 55 65 81;
      --color-secondary-100: 31 41 55;
      --color-secondary-50: 17 24 39;
      --color-secondary-0: 24 33 47;
      --backdrop-color: 0 0 0;
    }
  }

  ::-webkit-scrollbar {
    @apply h-1.5 w-1.5;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    @apply bg-secondary-50;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-secondary-400;
  }

  *,
  *::before,
  *::after {
    -webkit-tap-highlight-color: transparent;
  }

  /* reset styles */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }

  html,
  body {
    direction: rtl;
    @apply font-vazir;
    background-color: var(--background-app-rgb);
  }
}

.rti--container {
  background-color: rgb(var(--color-secondary-100));
  --rti-radius: 0.375rem;
  --rti-s: 0.5rem;
  --rti-tag: #edf2f7;
  --rti-tag-remove: #e53e3e;
  --rti-border: rgb(229 231 235);
  transition: border 0.3s;
}

.rti--container:focus-within {
  border: 1px solid rgb(var(--color-primary-500));
  box-shadow: 0 0 5px rgb(var(--color-primary-200));
}

.rti--container .rti--input {
  background-color: rgb(var(--color-secondary-200));
  color: rgb(var(--color-secondary-800));
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
}

.rti--tag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: rgb(var(--color-secondary-200));
  color: rgb(var(--color-secondary-900));
  column-gap: 10px;
  padding: 5px;
}

.rti--tag span {
  /* height: 13px; */
}
.rti--tag button {
  /* height: 13px; */
  padding: 0;
}

@layer components {
  .app-input {
    @apply block w-full rounded-lg border border-secondary-200 bg-secondary-100 p-2 text-base text-secondary-900 outline-none transition ease-in-out focus:border-primary-500 focus:shadow-md focus:shadow-primary-200 dark:focus:shadow-secondary-100;
  }

  .app-btn {
    @apply flex w-full items-center justify-center rounded-lg bg-primary-900 p-2 font-medium text-white shadow-lg shadow-primary-200 duration-300 hover:bg-primary-800 dark:shadow-secondary-50;
  }

  .sidebar__links {
    @apply flex items-center gap-x-2 rounded-xl bg-secondary-100 p-3 text-secondary-500 duration-300 hover:bg-primary-50 hover:text-primary-900;
  }

  .sidebar__links--active {
    @apply bg-primary-50 text-primary-900;
  }

  .badge {
    @apply flex w-fit items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset;
  }

  .badge--success {
    @apply bg-green-50 text-green-700 ring-green-600/20;
  }

  .badge--error {
    @apply bg-red-50 text-red-700 ring-error/30;
  }

  .badge--secondary {
    @apply bg-secondary-100 text-secondary-600 ring-secondary-200;
  }

  .thead-row {
    @apply [&>th]:whitespace-nowrap [&>th]:border-b [&>th]:border-b-secondary-200 [&>th]:bg-secondary-0 [&>th]:p-2 [&>th]:text-center [&>th]:text-secondary-700 lg:[&>th]:p-3;
  }

  .tbody-row {
    @apply [&:last-child>td:first-child]:rounded-br-lg [&:last-child>td:last-child]:rounded-bl-lg [&>td]:whitespace-nowrap [&>td]:border-b [&>td]:border-b-secondary-200 [&>td]:bg-secondary-0 [&>td]:p-2 [&>td]:text-center [&>td]:text-sm [&>td]:text-secondary-600 lg:[&>td]:p-3;
  }
}
